
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid main_content">
    <div class="row">
        <div class="col-sm-12 component">
            <div class="component_head">
                <h3>
                    Horario del día
                </h3>
                <hr />
            </div>
            <div class="component_body">
                <div class="container-fluid">
                    <div class="row alert alert-info">
                        <script>
                            var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
                            var diasSemana = new Array("Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado");
                            var f = new Date();
                            document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                        </script>
                    </div>
                    <div class="row">
                        @{ Html.RenderAction("Horarios"); }
                    </div>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

        <div class="col-sm-12 component">
            <div class="component_head">
                <h3>
                    Mi horario
                </h3>
                <hr />
            </div>
            <div class="component_body">
                <div class="container-fluid">
                    <div class="row">


                        <h1>Inserte un genial full calendar schedule aquí :D</h1>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 component">
            <div class="component_head">
                <h3>
                    Mis materias
                </h3>
                <hr />
            </div>
            <div class="component_body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="">
                            @{ Html.RenderAction("Materia"); }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>