#add_button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 0px;
}

.body-content {
    background-color: whitesmoke;
}

.component {
    background-color: white;
    border: solid whitesmoke 5px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: sticky;
    bottom: 0;
}

.login {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
    background-image: url("Images/login-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.login_fondo {
    background-color: none;
    height: 100vh;
}

.login_formulario {
    background-color: whitesmoke;
    left: 0;
    position: relative;
}

.main_content {
    border: solid whitesmoke 5px;
}


#app_button {
    border-radius: 0px;
}

#app_navbar .navbar {
    background-color: black;
    border-color: #432511;
    border-radius: 0px;
    color: white;
    margin: 0px;
}

#app_sidebar {
    height: 100vh;
    position: fixed;
    border-radius: 0px;
}

/*TABS*/
/*.tabs-left, .tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.tabs-left {
    border-right: 1px solid #ddd;
}

.tabs-right {
    border-left: 1px solid #ddd;
}

    .tabs-left > li, .tabs-right > li {
        float: none;
        margin-bottom: 2px;
    }

.tabs-left > li {
    margin-right: -1px;
}

.tabs-right > li {
    margin-left: -1px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent;
}

.tabs-left > li > a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.tabs-right > li > a {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}

.vertical-text {
    margin-top: 50px;
    border: none;
    position: relative;
}

    .vertical-text > li {
        height: 20px;
        width: 120px;
        margin-bottom: 100px;
    }

        .vertical-text > li > a {
            border-bottom: 1px solid #ddd;
            border-right-color: transparent;
            text-align: center;
            border-radius: 4px 4px 0px 0px;
        }

        .vertical-text > li.active > a,
        .vertical-text > li.active > a:hover,
        .vertical-text > li.active > a:focus {
            border-bottom-color: transparent;
            border-right-color: #ddd;
            border-left-color: #ddd;
        }

    .vertical-text.tabs-left {
        left: -50px;
    }

    .vertical-text.tabs-right {
        right: -50px;
    }

        .vertical-text.tabs-right > li {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

    .vertical-text.tabs-left > li {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }*/

