
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 alert alert-info">
        <a href="@Url.Action("Create", "Reservas")" class="">Reservas</a>
    </div>
    <div class="col-lg-4 alert alert-success">
        <a href="@Url.Action("Index", "Ingresar")" class="list-group-item">Login</a>
    </div>
    <div class="col-lg-4"></div>
</div>
